.questionContainer {
  display: flex;
  background-color: #181d25;
  /* justify-content: flex-end; */
  align-items: center;
  max-width: 400px;
  max-height: 700px;
  margin-left: auto;
  padding: 20px;
}

.text {
  word-wrap: break-word;
  word-break: break-all;
}
